{
    "root": true,
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 7,
      "ecmaFeatures": { 
        "jsx": true
      }
    },
    "plugins": [
      "html"
    ],
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": [2],
        "semi": "error"
    }
}
