/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-kz {
  background-image: url(./flags.png);
  background-position: 0px 0px;
  width: 16px;
  height: 11px;
}
.icon-ad {
  background-image: url(./flags.png);
  background-position: 0px -15px;
  width: 16px;
  height: 11px;
}
.icon-af {
  background-image: url(./flags.png);
  background-position: 0px -30px;
  width: 16px;
  height: 11px;
}
.icon-ag {
  background-image: url(./flags.png);
  background-position: 0px -45px;
  width: 16px;
  height: 11px;
}
.icon-ai {
  background-image: url(./flags.png);
  background-position: 0px -60px;
  width: 16px;
  height: 11px;
}
.icon-al {
  background-image: url(./flags.png);
  background-position: 0px -75px;
  width: 16px;
  height: 11px;
}
.icon-am {
  background-image: url(./flags.png);
  background-position: 0px -90px;
  width: 16px;
  height: 11px;
}
.icon-an {
  background-image: url(./flags.png);
  background-position: 0px -105px;
  width: 16px;
  height: 11px;
}
.icon-ao {
  background-image: url(./flags.png);
  background-position: 0px -120px;
  width: 16px;
  height: 11px;
}
.icon-ar {
  background-image: url(./flags.png);
  background-position: 0px -135px;
  width: 16px;
  height: 11px;
}
.icon-as {
  background-image: url(./flags.png);
  background-position: 0px -150px;
  width: 16px;
  height: 11px;
}
.icon-at {
  background-image: url(./flags.png);
  background-position: 0px -165px;
  width: 16px;
  height: 11px;
}
.icon-au {
  background-image: url(./flags.png);
  background-position: 0px -180px;
  width: 16px;
  height: 11px;
}
.icon-aw {
  background-image: url(./flags.png);
  background-position: 0px -195px;
  width: 16px;
  height: 11px;
}
.icon-ax {
  background-image: url(./flags.png);
  background-position: 0px -210px;
  width: 16px;
  height: 11px;
}
.icon-az {
  background-image: url(./flags.png);
  background-position: 0px -225px;
  width: 16px;
  height: 11px;
}
.icon-ba {
  background-image: url(./flags.png);
  background-position: 0px -240px;
  width: 16px;
  height: 11px;
}
.icon-bb {
  background-image: url(./flags.png);
  background-position: 0px -255px;
  width: 16px;
  height: 11px;
}
.icon-bd {
  background-image: url(./flags.png);
  background-position: 0px -270px;
  width: 16px;
  height: 11px;
}
.icon-be {
  background-image: url(./flags.png);
  background-position: 0px -285px;
  width: 16px;
  height: 11px;
}
.icon-bf {
  background-image: url(./flags.png);
  background-position: 0px -300px;
  width: 16px;
  height: 11px;
}
.icon-bg {
  background-image: url(./flags.png);
  background-position: 0px -315px;
  width: 16px;
  height: 11px;
}
.icon-bh {
  background-image: url(./flags.png);
  background-position: 0px -330px;
  width: 16px;
  height: 11px;
}
.icon-bi {
  background-image: url(./flags.png);
  background-position: 0px -345px;
  width: 16px;
  height: 11px;
}
.icon-bj {
  background-image: url(./flags.png);
  background-position: 0px -360px;
  width: 16px;
  height: 11px;
}
.icon-bm {
  background-image: url(./flags.png);
  background-position: 0px -375px;
  width: 16px;
  height: 11px;
}
.icon-bn {
  background-image: url(./flags.png);
  background-position: 0px -390px;
  width: 16px;
  height: 11px;
}
.icon-bo {
  background-image: url(./flags.png);
  background-position: 0px -405px;
  width: 16px;
  height: 11px;
}
.icon-br {
  background-image: url(./flags.png);
  background-position: 0px -420px;
  width: 16px;
  height: 11px;
}
.icon-bs {
  background-image: url(./flags.png);
  background-position: 0px -435px;
  width: 16px;
  height: 11px;
}
.icon-bt {
  background-image: url(./flags.png);
  background-position: 0px -450px;
  width: 16px;
  height: 11px;
}
.icon-bv {
  background-image: url(./flags.png);
  background-position: 0px -465px;
  width: 16px;
  height: 11px;
}
.icon-bw {
  background-image: url(./flags.png);
  background-position: 0px -480px;
  width: 16px;
  height: 11px;
}
.icon-by {
  background-image: url(./flags.png);
  background-position: 0px -495px;
  width: 16px;
  height: 11px;
}
.icon-bz {
  background-image: url(./flags.png);
  background-position: 0px -510px;
  width: 16px;
  height: 11px;
}
.icon-ca {
  background-image: url(./flags.png);
  background-position: 0px -525px;
  width: 16px;
  height: 11px;
}
.icon-catalonia {
  background-image: url(./flags.png);
  background-position: 0px -540px;
  width: 16px;
  height: 11px;
}
.icon-cc {
  background-image: url(./flags.png);
  background-position: 0px -555px;
  width: 16px;
  height: 11px;
}
.icon-cd {
  background-image: url(./flags.png);
  background-position: 0px -570px;
  width: 16px;
  height: 11px;
}
.icon-cf {
  background-image: url(./flags.png);
  background-position: 0px -585px;
  width: 16px;
  height: 11px;
}
.icon-cg {
  background-image: url(./flags.png);
  background-position: 0px -600px;
  width: 16px;
  height: 11px;
}
.icon-ch {
  background-image: url(./flags.png);
  background-position: 0px -615px;
  width: 11px;
  height: 11px;
}
.icon-ci {
  background-image: url(./flags.png);
  background-position: 0px -630px;
  width: 16px;
  height: 11px;
}
.icon-ck {
  background-image: url(./flags.png);
  background-position: 0px -645px;
  width: 16px;
  height: 11px;
}
.icon-cl {
  background-image: url(./flags.png);
  background-position: 0px -660px;
  width: 16px;
  height: 11px;
}
.icon-cm {
  background-image: url(./flags.png);
  background-position: 0px -675px;
  width: 16px;
  height: 11px;
}
.icon-cn {
  background-image: url(./flags.png);
  background-position: 0px -690px;
  width: 16px;
  height: 11px;
}
.icon-co {
  background-image: url(./flags.png);
  background-position: 0px -705px;
  width: 16px;
  height: 11px;
}
.icon-cr {
  background-image: url(./flags.png);
  background-position: 0px -720px;
  width: 16px;
  height: 11px;
}
.icon-cs {
  background-image: url(./flags.png);
  background-position: 0px -735px;
  width: 16px;
  height: 11px;
}
.icon-cu {
  background-image: url(./flags.png);
  background-position: 0px -750px;
  width: 16px;
  height: 11px;
}
.icon-cv {
  background-image: url(./flags.png);
  background-position: 0px -765px;
  width: 16px;
  height: 11px;
}
.icon-cx {
  background-image: url(./flags.png);
  background-position: 0px -780px;
  width: 16px;
  height: 11px;
}
.icon-cy {
  background-image: url(./flags.png);
  background-position: 0px -795px;
  width: 16px;
  height: 11px;
}
.icon-cz {
  background-image: url(./flags.png);
  background-position: 0px -810px;
  width: 16px;
  height: 11px;
}
.icon-de {
  background-image: url(./flags.png);
  background-position: 0px -825px;
  width: 16px;
  height: 11px;
}
.icon-dj {
  background-image: url(./flags.png);
  background-position: 0px -840px;
  width: 16px;
  height: 11px;
}
.icon-dk {
  background-image: url(./flags.png);
  background-position: 0px -855px;
  width: 16px;
  height: 11px;
}
.icon-dm {
  background-image: url(./flags.png);
  background-position: 0px -870px;
  width: 16px;
  height: 11px;
}
.icon-do {
  background-image: url(./flags.png);
  background-position: 0px -885px;
  width: 16px;
  height: 11px;
}
.icon-dz {
  background-image: url(./flags.png);
  background-position: 0px -900px;
  width: 16px;
  height: 11px;
}
.icon-ec {
  background-image: url(./flags.png);
  background-position: 0px -915px;
  width: 16px;
  height: 11px;
}
.icon-ee {
  background-image: url(./flags.png);
  background-position: 0px -930px;
  width: 16px;
  height: 11px;
}
.icon-eg {
  background-image: url(./flags.png);
  background-position: 0px -945px;
  width: 16px;
  height: 11px;
}
.icon-eh {
  background-image: url(./flags.png);
  background-position: 0px -960px;
  width: 16px;
  height: 11px;
}
.icon-england {
  background-image: url(./flags.png);
  background-position: 0px -975px;
  width: 16px;
  height: 11px;
}
.icon-er {
  background-image: url(./flags.png);
  background-position: 0px -990px;
  width: 16px;
  height: 11px;
}
.icon-es {
  background-image: url(./flags.png);
  background-position: 0px -1005px;
  width: 16px;
  height: 11px;
}
.icon-et {
  background-image: url(./flags.png);
  background-position: 0px -1020px;
  width: 16px;
  height: 11px;
}
.icon-europeanunion {
  background-image: url(./flags.png);
  background-position: 0px -1035px;
  width: 16px;
  height: 11px;
}
.icon-fam {
  background-image: url(./flags.png);
  background-position: 0px -1050px;
  width: 16px;
  height: 11px;
}
.icon-fi {
  background-image: url(./flags.png);
  background-position: 0px -1065px;
  width: 16px;
  height: 11px;
}
.icon-fj {
  background-image: url(./flags.png);
  background-position: 0px -1080px;
  width: 16px;
  height: 11px;
}
.icon-fk {
  background-image: url(./flags.png);
  background-position: 0px -1095px;
  width: 16px;
  height: 11px;
}
.icon-fm {
  background-image: url(./flags.png);
  background-position: 0px -1110px;
  width: 16px;
  height: 11px;
}
.icon-fo {
  background-image: url(./flags.png);
  background-position: 0px -1125px;
  width: 16px;
  height: 11px;
}
.icon-fr {
  background-image: url(./flags.png);
  background-position: 0px -1140px;
  width: 16px;
  height: 11px;
}
.icon-ga {
  background-image: url(./flags.png);
  background-position: 0px -1155px;
  width: 16px;
  height: 11px;
}
.icon-gb {
  background-image: url(./flags.png);
  background-position: 0px -1170px;
  width: 16px;
  height: 11px;
}
.icon-gd {
  background-image: url(./flags.png);
  background-position: 0px -1185px;
  width: 16px;
  height: 11px;
}
.icon-ge {
  background-image: url(./flags.png);
  background-position: 0px -1200px;
  width: 16px;
  height: 11px;
}
.icon-gf {
  background-image: url(./flags.png);
  background-position: 0px -1215px;
  width: 16px;
  height: 11px;
}
.icon-gh {
  background-image: url(./flags.png);
  background-position: 0px -1230px;
  width: 16px;
  height: 11px;
}
.icon-gi {
  background-image: url(./flags.png);
  background-position: 0px -1245px;
  width: 16px;
  height: 11px;
}
.icon-gl {
  background-image: url(./flags.png);
  background-position: 0px -1260px;
  width: 16px;
  height: 11px;
}
.icon-gm {
  background-image: url(./flags.png);
  background-position: 0px -1275px;
  width: 16px;
  height: 11px;
}
.icon-gn {
  background-image: url(./flags.png);
  background-position: 0px -1290px;
  width: 16px;
  height: 11px;
}
.icon-gp {
  background-image: url(./flags.png);
  background-position: 0px -1305px;
  width: 16px;
  height: 11px;
}
.icon-gq {
  background-image: url(./flags.png);
  background-position: 0px -1320px;
  width: 16px;
  height: 11px;
}
.icon-gr {
  background-image: url(./flags.png);
  background-position: 0px -1335px;
  width: 16px;
  height: 11px;
}
.icon-gs {
  background-image: url(./flags.png);
  background-position: 0px -1350px;
  width: 16px;
  height: 11px;
}
.icon-gt {
  background-image: url(./flags.png);
  background-position: 0px -1365px;
  width: 16px;
  height: 11px;
}
.icon-gu {
  background-image: url(./flags.png);
  background-position: 0px -1380px;
  width: 16px;
  height: 11px;
}
.icon-gw {
  background-image: url(./flags.png);
  background-position: 0px -1395px;
  width: 16px;
  height: 11px;
}
.icon-gy {
  background-image: url(./flags.png);
  background-position: 0px -1410px;
  width: 16px;
  height: 11px;
}
.icon-hk {
  background-image: url(./flags.png);
  background-position: 0px -1425px;
  width: 16px;
  height: 11px;
}
.icon-hm {
  background-image: url(./flags.png);
  background-position: 0px -1440px;
  width: 16px;
  height: 11px;
}
.icon-hn {
  background-image: url(./flags.png);
  background-position: 0px -1455px;
  width: 16px;
  height: 11px;
}
.icon-hr {
  background-image: url(./flags.png);
  background-position: 0px -1470px;
  width: 16px;
  height: 11px;
}
.icon-ht {
  background-image: url(./flags.png);
  background-position: 0px -1485px;
  width: 16px;
  height: 11px;
}
.icon-hu {
  background-image: url(./flags.png);
  background-position: 0px -1500px;
  width: 16px;
  height: 11px;
}
.icon-id {
  background-image: url(./flags.png);
  background-position: 0px -1515px;
  width: 16px;
  height: 11px;
}
.icon-ie {
  background-image: url(./flags.png);
  background-position: 0px -1530px;
  width: 16px;
  height: 11px;
}
.icon-il {
  background-image: url(./flags.png);
  background-position: 0px -1545px;
  width: 16px;
  height: 11px;
}
.icon-in {
  background-image: url(./flags.png);
  background-position: 0px -1560px;
  width: 16px;
  height: 11px;
}
.icon-io {
  background-image: url(./flags.png);
  background-position: 0px -1575px;
  width: 16px;
  height: 11px;
}
.icon-iq {
  background-image: url(./flags.png);
  background-position: 0px -1590px;
  width: 16px;
  height: 11px;
}
.icon-ir {
  background-image: url(./flags.png);
  background-position: 0px -1605px;
  width: 16px;
  height: 11px;
}
.icon-is {
  background-image: url(./flags.png);
  background-position: 0px -1620px;
  width: 16px;
  height: 11px;
}
.icon-it {
  background-image: url(./flags.png);
  background-position: 0px -1635px;
  width: 16px;
  height: 11px;
}
.icon-jm {
  background-image: url(./flags.png);
  background-position: 0px -1650px;
  width: 16px;
  height: 11px;
}
.icon-jo {
  background-image: url(./flags.png);
  background-position: 0px -1665px;
  width: 16px;
  height: 11px;
}
.icon-jp {
  background-image: url(./flags.png);
  background-position: 0px -1680px;
  width: 16px;
  height: 11px;
}
.icon-ke {
  background-image: url(./flags.png);
  background-position: 0px -1695px;
  width: 16px;
  height: 11px;
}
.icon-kg {
  background-image: url(./flags.png);
  background-position: 0px -1710px;
  width: 16px;
  height: 11px;
}
.icon-kh {
  background-image: url(./flags.png);
  background-position: 0px -1725px;
  width: 16px;
  height: 11px;
}
.icon-ki {
  background-image: url(./flags.png);
  background-position: 0px -1740px;
  width: 16px;
  height: 11px;
}
.icon-km {
  background-image: url(./flags.png);
  background-position: 0px -1755px;
  width: 16px;
  height: 11px;
}
.icon-kn {
  background-image: url(./flags.png);
  background-position: 0px -1770px;
  width: 16px;
  height: 11px;
}
.icon-kp {
  background-image: url(./flags.png);
  background-position: 0px -1785px;
  width: 16px;
  height: 11px;
}
.icon-kr {
  background-image: url(./flags.png);
  background-position: 0px -1800px;
  width: 16px;
  height: 11px;
}
.icon-kw {
  background-image: url(./flags.png);
  background-position: 0px -1815px;
  width: 16px;
  height: 11px;
}
.icon-ky {
  background-image: url(./flags.png);
  background-position: 0px -1830px;
  width: 16px;
  height: 11px;
}
.icon-ae {
  background-image: url(./flags.png);
  background-position: 0px -1845px;
  width: 16px;
  height: 11px;
}
.icon-la {
  background-image: url(./flags.png);
  background-position: 0px -1860px;
  width: 16px;
  height: 11px;
}
.icon-lb {
  background-image: url(./flags.png);
  background-position: 0px -1875px;
  width: 16px;
  height: 11px;
}
.icon-lc {
  background-image: url(./flags.png);
  background-position: 0px -1890px;
  width: 16px;
  height: 11px;
}
.icon-li {
  background-image: url(./flags.png);
  background-position: 0px -1905px;
  width: 16px;
  height: 11px;
}
.icon-lk {
  background-image: url(./flags.png);
  background-position: 0px -1920px;
  width: 16px;
  height: 11px;
}
.icon-lr {
  background-image: url(./flags.png);
  background-position: 0px -1935px;
  width: 16px;
  height: 11px;
}
.icon-ls {
  background-image: url(./flags.png);
  background-position: 0px -1950px;
  width: 16px;
  height: 11px;
}
.icon-lt {
  background-image: url(./flags.png);
  background-position: 0px -1965px;
  width: 16px;
  height: 11px;
}
.icon-lu {
  background-image: url(./flags.png);
  background-position: 0px -1980px;
  width: 16px;
  height: 11px;
}
.icon-lv {
  background-image: url(./flags.png);
  background-position: 0px -1995px;
  width: 16px;
  height: 11px;
}
.icon-ly {
  background-image: url(./flags.png);
  background-position: 0px -2010px;
  width: 16px;
  height: 11px;
}
.icon-ma {
  background-image: url(./flags.png);
  background-position: 0px -2025px;
  width: 16px;
  height: 11px;
}
.icon-mc {
  background-image: url(./flags.png);
  background-position: 0px -2040px;
  width: 16px;
  height: 11px;
}
.icon-md {
  background-image: url(./flags.png);
  background-position: 0px -2055px;
  width: 16px;
  height: 11px;
}
.icon-zm {
  background-image: url(./flags.png);
  background-position: 0px -2070px;
  width: 16px;
  height: 11px;
}
.icon-mg {
  background-image: url(./flags.png);
  background-position: 0px -2085px;
  width: 16px;
  height: 11px;
}
.icon-mh {
  background-image: url(./flags.png);
  background-position: 0px -2100px;
  width: 16px;
  height: 11px;
}
.icon-mk {
  background-image: url(./flags.png);
  background-position: 0px -2115px;
  width: 16px;
  height: 11px;
}
.icon-ml {
  background-image: url(./flags.png);
  background-position: 0px -2130px;
  width: 16px;
  height: 11px;
}
.icon-mm {
  background-image: url(./flags.png);
  background-position: 0px -2145px;
  width: 16px;
  height: 11px;
}
.icon-mn {
  background-image: url(./flags.png);
  background-position: 0px -2160px;
  width: 16px;
  height: 11px;
}
.icon-mo {
  background-image: url(./flags.png);
  background-position: 0px -2175px;
  width: 16px;
  height: 11px;
}
.icon-mp {
  background-image: url(./flags.png);
  background-position: 0px -2190px;
  width: 16px;
  height: 11px;
}
.icon-mq {
  background-image: url(./flags.png);
  background-position: 0px -2205px;
  width: 16px;
  height: 11px;
}
.icon-mr {
  background-image: url(./flags.png);
  background-position: 0px -2220px;
  width: 16px;
  height: 11px;
}
.icon-ms {
  background-image: url(./flags.png);
  background-position: 0px -2235px;
  width: 16px;
  height: 11px;
}
.icon-mt {
  background-image: url(./flags.png);
  background-position: 0px -2250px;
  width: 16px;
  height: 11px;
}
.icon-mu {
  background-image: url(./flags.png);
  background-position: 0px -2265px;
  width: 16px;
  height: 11px;
}
.icon-mv {
  background-image: url(./flags.png);
  background-position: 0px -2280px;
  width: 16px;
  height: 11px;
}
.icon-mw {
  background-image: url(./flags.png);
  background-position: 0px -2295px;
  width: 16px;
  height: 11px;
}
.icon-mx {
  background-image: url(./flags.png);
  background-position: 0px -2310px;
  width: 16px;
  height: 11px;
}
.icon-my {
  background-image: url(./flags.png);
  background-position: 0px -2325px;
  width: 16px;
  height: 11px;
}
.icon-mz {
  background-image: url(./flags.png);
  background-position: 0px -2340px;
  width: 16px;
  height: 11px;
}
.icon-na {
  background-image: url(./flags.png);
  background-position: 0px -2355px;
  width: 16px;
  height: 11px;
}
.icon-nc {
  background-image: url(./flags.png);
  background-position: 0px -2370px;
  width: 16px;
  height: 11px;
}
.icon-ne {
  background-image: url(./flags.png);
  background-position: 0px -2385px;
  width: 16px;
  height: 11px;
}
.icon-nf {
  background-image: url(./flags.png);
  background-position: 0px -2400px;
  width: 16px;
  height: 11px;
}
.icon-ng {
  background-image: url(./flags.png);
  background-position: 0px -2415px;
  width: 16px;
  height: 11px;
}
.icon-ni {
  background-image: url(./flags.png);
  background-position: 0px -2430px;
  width: 16px;
  height: 11px;
}
.icon-nl {
  background-image: url(./flags.png);
  background-position: 0px -2445px;
  width: 16px;
  height: 11px;
}
.icon-no {
  background-image: url(./flags.png);
  background-position: 0px -2460px;
  width: 16px;
  height: 11px;
}
.icon-np {
  background-image: url(./flags.png);
  background-position: 0px -2475px;
  width: 9px;
  height: 11px;
}
.icon-nr {
  background-image: url(./flags.png);
  background-position: 0px -2490px;
  width: 16px;
  height: 11px;
}
.icon-nu {
  background-image: url(./flags.png);
  background-position: 0px -2505px;
  width: 16px;
  height: 11px;
}
.icon-nz {
  background-image: url(./flags.png);
  background-position: 0px -2520px;
  width: 16px;
  height: 11px;
}
.icon-om {
  background-image: url(./flags.png);
  background-position: 0px -2535px;
  width: 16px;
  height: 11px;
}
.icon-pa {
  background-image: url(./flags.png);
  background-position: 0px -2550px;
  width: 16px;
  height: 11px;
}
.icon-pe {
  background-image: url(./flags.png);
  background-position: 0px -2565px;
  width: 16px;
  height: 11px;
}
.icon-pf {
  background-image: url(./flags.png);
  background-position: 0px -2580px;
  width: 16px;
  height: 11px;
}
.icon-pg {
  background-image: url(./flags.png);
  background-position: 0px -2595px;
  width: 16px;
  height: 11px;
}
.icon-ph {
  background-image: url(./flags.png);
  background-position: 0px -2610px;
  width: 16px;
  height: 11px;
}
.icon-pk {
  background-image: url(./flags.png);
  background-position: 0px -2625px;
  width: 16px;
  height: 11px;
}
.icon-pl {
  background-image: url(./flags.png);
  background-position: 0px -2640px;
  width: 16px;
  height: 11px;
}
.icon-pm {
  background-image: url(./flags.png);
  background-position: 0px -2655px;
  width: 16px;
  height: 11px;
}
.icon-pn {
  background-image: url(./flags.png);
  background-position: 0px -2670px;
  width: 16px;
  height: 11px;
}
.icon-pr {
  background-image: url(./flags.png);
  background-position: 0px -2685px;
  width: 16px;
  height: 11px;
}
.icon-ps {
  background-image: url(./flags.png);
  background-position: 0px -2700px;
  width: 16px;
  height: 11px;
}
.icon-pt {
  background-image: url(./flags.png);
  background-position: 0px -2715px;
  width: 16px;
  height: 11px;
}
.icon-pw {
  background-image: url(./flags.png);
  background-position: 0px -2730px;
  width: 16px;
  height: 11px;
}
.icon-py {
  background-image: url(./flags.png);
  background-position: 0px -2745px;
  width: 16px;
  height: 11px;
}
.icon-qa {
  background-image: url(./flags.png);
  background-position: 0px -2760px;
  width: 16px;
  height: 11px;
}
.icon-re {
  background-image: url(./flags.png);
  background-position: 0px -2775px;
  width: 16px;
  height: 11px;
}
.icon-ro {
  background-image: url(./flags.png);
  background-position: 0px -2790px;
  width: 16px;
  height: 11px;
}
.icon-rs {
  background-image: url(./flags.png);
  background-position: 0px -2805px;
  width: 16px;
  height: 11px;
}
.icon-ru {
  background-image: url(./flags.png);
  background-position: 0px -2820px;
  width: 16px;
  height: 11px;
}
.icon-rw {
  background-image: url(./flags.png);
  background-position: 0px -2835px;
  width: 16px;
  height: 11px;
}
.icon-sa {
  background-image: url(./flags.png);
  background-position: 0px -2850px;
  width: 16px;
  height: 11px;
}
.icon-sb {
  background-image: url(./flags.png);
  background-position: 0px -2865px;
  width: 16px;
  height: 11px;
}
.icon-sc {
  background-image: url(./flags.png);
  background-position: 0px -2880px;
  width: 16px;
  height: 11px;
}
.icon-scotland {
  background-image: url(./flags.png);
  background-position: 0px -2895px;
  width: 16px;
  height: 11px;
}
.icon-sd {
  background-image: url(./flags.png);
  background-position: 0px -2910px;
  width: 16px;
  height: 11px;
}
.icon-se {
  background-image: url(./flags.png);
  background-position: 0px -2925px;
  width: 16px;
  height: 11px;
}
.icon-sg {
  background-image: url(./flags.png);
  background-position: 0px -2940px;
  width: 16px;
  height: 11px;
}
.icon-sh {
  background-image: url(./flags.png);
  background-position: 0px -2955px;
  width: 16px;
  height: 11px;
}
.icon-si {
  background-image: url(./flags.png);
  background-position: 0px -2970px;
  width: 16px;
  height: 11px;
}
.icon-sj {
  background-image: url(./flags.png);
  background-position: 0px -2985px;
  width: 16px;
  height: 11px;
}
.icon-sk {
  background-image: url(./flags.png);
  background-position: 0px -3000px;
  width: 16px;
  height: 11px;
}
.icon-sl {
  background-image: url(./flags.png);
  background-position: 0px -3015px;
  width: 16px;
  height: 11px;
}
.icon-sm {
  background-image: url(./flags.png);
  background-position: 0px -3030px;
  width: 16px;
  height: 11px;
}
.icon-sn {
  background-image: url(./flags.png);
  background-position: 0px -3045px;
  width: 16px;
  height: 11px;
}
.icon-so {
  background-image: url(./flags.png);
  background-position: 0px -3060px;
  width: 16px;
  height: 11px;
}
.icon-sr {
  background-image: url(./flags.png);
  background-position: 0px -3075px;
  width: 16px;
  height: 11px;
}
.icon-st {
  background-image: url(./flags.png);
  background-position: 0px -3090px;
  width: 16px;
  height: 11px;
}
.icon-sv {
  background-image: url(./flags.png);
  background-position: 0px -3105px;
  width: 16px;
  height: 11px;
}
.icon-sy {
  background-image: url(./flags.png);
  background-position: 0px -3120px;
  width: 16px;
  height: 11px;
}
.icon-sz {
  background-image: url(./flags.png);
  background-position: 0px -3135px;
  width: 16px;
  height: 11px;
}
.icon-tc {
  background-image: url(./flags.png);
  background-position: 0px -3150px;
  width: 16px;
  height: 11px;
}
.icon-td {
  background-image: url(./flags.png);
  background-position: 0px -3165px;
  width: 16px;
  height: 11px;
}
.icon-tf {
  background-image: url(./flags.png);
  background-position: 0px -3180px;
  width: 16px;
  height: 11px;
}
.icon-tg {
  background-image: url(./flags.png);
  background-position: 0px -3195px;
  width: 16px;
  height: 11px;
}
.icon-th {
  background-image: url(./flags.png);
  background-position: 0px -3210px;
  width: 16px;
  height: 11px;
}
.icon-tj {
  background-image: url(./flags.png);
  background-position: 0px -3225px;
  width: 16px;
  height: 11px;
}
.icon-tk {
  background-image: url(./flags.png);
  background-position: 0px -3240px;
  width: 16px;
  height: 11px;
}
.icon-tl {
  background-image: url(./flags.png);
  background-position: 0px -3255px;
  width: 16px;
  height: 11px;
}
.icon-tm {
  background-image: url(./flags.png);
  background-position: 0px -3270px;
  width: 16px;
  height: 11px;
}
.icon-tn {
  background-image: url(./flags.png);
  background-position: 0px -3285px;
  width: 16px;
  height: 11px;
}
.icon-to {
  background-image: url(./flags.png);
  background-position: 0px -3300px;
  width: 16px;
  height: 11px;
}
.icon-tr {
  background-image: url(./flags.png);
  background-position: 0px -3315px;
  width: 16px;
  height: 11px;
}
.icon-tt {
  background-image: url(./flags.png);
  background-position: 0px -3330px;
  width: 16px;
  height: 11px;
}
.icon-tv {
  background-image: url(./flags.png);
  background-position: 0px -3345px;
  width: 16px;
  height: 11px;
}
.icon-tw {
  background-image: url(./flags.png);
  background-position: 0px -3360px;
  width: 16px;
  height: 11px;
}
.icon-tz {
  background-image: url(./flags.png);
  background-position: 0px -3375px;
  width: 16px;
  height: 11px;
}
.icon-ua {
  background-image: url(./flags.png);
  background-position: 0px -3390px;
  width: 16px;
  height: 11px;
}
.icon-ug {
  background-image: url(./flags.png);
  background-position: 0px -3405px;
  width: 16px;
  height: 11px;
}
.icon-um {
  background-image: url(./flags.png);
  background-position: 0px -3420px;
  width: 16px;
  height: 11px;
}
.icon-us {
  background-image: url(./flags.png);
  background-position: 0px -3435px;
  width: 16px;
  height: 11px;
}
.icon-uy {
  background-image: url(./flags.png);
  background-position: 0px -3450px;
  width: 16px;
  height: 11px;
}
.icon-uz {
  background-image: url(./flags.png);
  background-position: 0px -3465px;
  width: 16px;
  height: 11px;
}
.icon-va {
  background-image: url(./flags.png);
  background-position: 0px -3480px;
  width: 16px;
  height: 11px;
}
.icon-vc {
  background-image: url(./flags.png);
  background-position: 0px -3495px;
  width: 16px;
  height: 11px;
}
.icon-ve {
  background-image: url(./flags.png);
  background-position: 0px -3510px;
  width: 16px;
  height: 11px;
}
.icon-vg {
  background-image: url(./flags.png);
  background-position: 0px -3525px;
  width: 16px;
  height: 11px;
}
.icon-vi {
  background-image: url(./flags.png);
  background-position: 0px -3540px;
  width: 16px;
  height: 11px;
}
.icon-vn {
  background-image: url(./flags.png);
  background-position: 0px -3555px;
  width: 16px;
  height: 11px;
}
.icon-vu {
  background-image: url(./flags.png);
  background-position: 0px -3570px;
  width: 16px;
  height: 11px;
}
.icon-wales {
  background-image: url(./flags.png);
  background-position: 0px -3585px;
  width: 16px;
  height: 11px;
}
.icon-wf {
  background-image: url(./flags.png);
  background-position: 0px -3600px;
  width: 16px;
  height: 11px;
}
.icon-ws {
  background-image: url(./flags.png);
  background-position: 0px -3615px;
  width: 16px;
  height: 11px;
}
.icon-ye {
  background-image: url(./flags.png);
  background-position: 0px -3630px;
  width: 16px;
  height: 11px;
}
.icon-yt {
  background-image: url(./flags.png);
  background-position: 0px -3645px;
  width: 16px;
  height: 11px;
}
.icon-za {
  background-image: url(./flags.png);
  background-position: 0px -3660px;
  width: 16px;
  height: 11px;
}
.icon-zw {
  background-image: url(./flags.png);
  background-position: 0px -3675px;
  width: 16px;
  height: 11px;
}
.icon-me {
  background-image: url(./flags.png);
  background-position: 0px -3690px;
  width: 16px;
  height: 12px;
}
