/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-min_window {
  background-image: url(./sprite.png);
  background-position: 0px 0px;
  width: 10px;
  height: 1px;
}
.icon-required {
  background-image: url(./sprite.png);
  background-position: 0px -5px;
  width: 9px;
  height: 9px;
}
.icon-checked {
  background-image: url(./sprite.png);
  background-position: 0px -18px;
  width: 12px;
  height: 10px;
}
.icon-full_screen {
  background-image: url(./sprite.png);
  background-position: 0px -32px;
  width: 10px;
  height: 10px;
}
.icon-normal {
  background-image: url(./sprite.png);
  background-position: 0px -46px;
  width: 10px;
  height: 10px;
}
.icon-close-modal {
  background-image: url(./sprite.png);
  background-position: 0px -60px;
  width: 14px;
  height: 14px;
}
.icon-email {
  background-image: url(./sprite.png);
  background-position: 0px -78px;
  width: 17px;
  height: 14px;
}
.icon-file_text {
  background-image: url(./sprite.png);
  background-position: 0px -96px;
  width: 16px;
  height: 16px;
}
.icon-tree-title {
  background-image: url(./sprite.png);
  background-position: 0px -116px;
  width: 19px;
  height: 17px;
}
.icon-message {
  background-image: url(./sprite.png);
  background-position: 0px -137px;
  width: 19px;
  height: 17px;
}
.icon-submit {
  background-image: url(./sprite.png);
  background-position: 0px -158px;
  width: 18px;
  height: 18px;
}
.icon-editpsw {
  background-image: url(./sprite.png);
  background-position: 0px -180px;
  width: 16px;
  height: 19px;
}
.icon-phone {
  background-image: url(./sprite.png);
  background-position: 0px -203px;
  width: 14px;
  height: 19px;
}
.icon-reference_retest {
  background-image: url(./sprite.png);
  background-position: 0px -226px;
  width: 20px;
  height: 20px;
}
.icon-detail {
  background-image: url(./sprite.png);
  background-position: 0px -250px;
  width: 20px;
  height: 20px;
}
.icon-awarded_marks {
  background-image: url(./sprite.png);
  background-position: 0px -274px;
  width: 20px;
  height: 20px;
}
.icon-reference_normal {
  background-image: url(./sprite.png);
  background-position: 0px -298px;
  width: 20px;
  height: 20px;
}
.icon-schedule {
  background-image: url(./sprite.png);
  background-position: 0px -322px;
  width: 20px;
  height: 20px;
}
.icon-edit_cover {
  background-image: url(./sprite.png);
  background-position: 0px -346px;
  width: 20px;
  height: 20px;
}
.icon-edit {
  background-image: url(./sprite.png);
  background-position: 0px -370px;
  width: 19px;
  height: 20px;
}
.icon-review {
  background-image: url(./sprite.png);
  background-position: 0px -394px;
  width: 20px;
  height: 20px;
}
.icon-analyze {
  background-image: url(./sprite.png);
  background-position: 0px -418px;
  width: 20px;
  height: 20px;
}
.icon-1 {
  background-image: url(./sprite.png);
  background-position: 0px -442px;
  width: 20px;
  height: 20px;
}
.icon-close {
  background-image: url(./sprite.png);
  background-position: 0px -466px;
  width: 20px;
  height: 20px;
}
.icon-standard_score {
  background-image: url(./sprite.png);
  background-position: 0px -490px;
  width: 20px;
  height: 20px;
}
.icon-goal {
  background-image: url(./sprite.png);
  background-position: 0px -514px;
  width: 20px;
  height: 20px;
}
.icon-more {
  background-image: url(./sprite.png);
  background-position: 0px -538px;
  width: 4px;
  height: 20px;
}
.icon-del {
  background-image: url(./sprite.png);
  background-position: 0px -562px;
  width: 19px;
  height: 20px;
}
.icon-delete {
  background-image: url(./sprite.png);
  background-position: 0px -586px;
  width: 19px;
  height: 20px;
}
.icon-infos {
  background-image: url(./sprite.png);
  background-position: 0px -610px;
  width: 20px;
  height: 20px;
}
.icon-2 {
  background-image: url(./sprite.png);
  background-position: 0px -634px;
  width: 20px;
  height: 20px;
}
.icon-import {
  background-image: url(./sprite.png);
  background-position: 0px -658px;
  width: 22px;
  height: 22px;
}
.icon-dataCom {
  background-image: url(./sprite.png);
  background-position: 0px -684px;
  width: 22px;
  height: 22px;
}
.icon-reports {
  background-image: url(./sprite.png);
  background-position: 0px -710px;
  width: 22px;
  height: 22px;
}
.icon-open {
  background-image: url(./sprite.png);
  background-position: 0px -736px;
  width: 22px;
  height: 22px;
}
.icon-export {
  background-image: url(./sprite.png);
  background-position: 0px -762px;
  width: 22px;
  height: 22px;
}
.icon-jurisdiction {
  background-image: url(./sprite.png);
  background-position: 0px -788px;
  width: 20px;
  height: 22px;
}
.icon-add {
  background-image: url(./sprite.png);
  background-position: 0px -814px;
  width: 22px;
  height: 22px;
}
.icon-info {
  background-image: url(./sprite.png);
  background-position: 0px -840px;
  width: 22px;
  height: 22px;
}
.icon-thaw {
  background-image: url(./sprite.png);
  background-position: 0px -866px;
  width: 14px;
  height: 22px;
}
.icon-functional {
  background-image: url(./sprite.png);
  background-position: 0px -892px;
  width: 24px;
  height: 24px;
}
.icon-user {
  background-image: url(./sprite.png);
  background-position: 0px -920px;
  width: 24px;
  height: 24px;
}
.icon-intervention {
  background-image: url(./sprite.png);
  background-position: 0px -948px;
  width: 24px;
  height: 24px;
}
.icon-action {
  background-image: url(./sprite.png);
  background-position: 0px -976px;
  width: 24px;
  height: 24px;
}
.icon-basicFoundation {
  background-image: url(./sprite.png);
  background-position: 0px -1004px;
  width: 24px;
  height: 24px;
}
.icon-alarm {
  background-image: url(./sprite.png);
  background-position: 0px -1032px;
  width: 24px;
  height: 24px;
}
.icon-applet-default {
  background-image: url(./sprite.png);
  background-position: 0px -1060px;
  width: 24px;
  height: 24px;
}
.icon-medicalReport {
  background-image: url(./sprite.png);
  background-position: 0px -1088px;
  width: 24px;
  height: 24px;
}
.icon-applet {
  background-image: url(./sprite.png);
  background-position: 0px -1116px;
  width: 24px;
  height: 24px;
}
.icon-healthResource {
  background-image: url(./sprite.png);
  background-position: 0px -1144px;
  width: 24px;
  height: 24px;
}
.icon-monitorReport {
  background-image: url(./sprite.png);
  background-position: 0px -1172px;
  width: 24px;
  height: 24px;
}
.icon-monitorStatisSummary {
  background-image: url(./sprite.png);
  background-position: 0px -1200px;
  width: 24px;
  height: 24px;
}
.icon-healthResource_active {
  background-image: url(./sprite.png);
  background-position: 0px -1228px;
  width: 24px;
  height: 24px;
}
.icon-upload {
  background-image: url(./sprite.png);
  background-position: 0px -1256px;
  width: 34px;
  height: 24px;
}
.icon-notice {
  background-image: url(./sprite.png);
  background-position: 0px -1284px;
  width: 24px;
  height: 24px;
}
.icon-noticeManage {
  background-image: url(./sprite.png);
  background-position: 0px -1312px;
  width: 24px;
  height: 24px;
}
.icon-exchange {
  background-image: url(./sprite.png);
  background-position: 0px -1340px;
  width: 24px;
  height: 24px;
}
.icon-basicData {
  background-image: url(./sprite.png);
  background-position: 0px -1368px;
  width: 24px;
  height: 24px;
}
.icon-physicalReport {
  background-image: url(./sprite.png);
  background-position: 0px -1396px;
  width: 24px;
  height: 24px;
}
.icon-prepare {
  background-image: url(./sprite.png);
  background-position: 0px -1424px;
  width: 24px;
  height: 24px;
}
.icon-dictionaryType {
  background-image: url(./sprite.png);
  background-position: 0px -1452px;
  width: 24px;
  height: 24px;
}
.icon-dictionaryInfo {
  background-image: url(./sprite.png);
  background-position: 0px -1480px;
  width: 24px;
  height: 24px;
}
.icon-dataReport {
  background-image: url(./sprite.png);
  background-position: 0px -1508px;
  width: 24px;
  height: 24px;
}
.icon-reTest {
  background-image: url(./sprite.png);
  background-position: 0px -1536px;
  width: 24px;
  height: 24px;
}
.icon-role {
  background-image: url(./sprite.png);
  background-position: 0px -1564px;
  width: 24px;
  height: 24px;
}
.icon-reset {
  background-image: url(./sprite.png);
  background-position: 0px -1592px;
  width: 19px;
  height: 26px;
}
.icon-time {
  background-image: url(./sprite.png);
  background-position: 0px -1622px;
  width: 26px;
  height: 26px;
}
.icon-data {
  background-image: url(./sprite.png);
  background-position: 0px -1652px;
  width: 28px;
  height: 28px;
}
.icon-print {
  background-image: url(./sprite.png);
  background-position: 0px -1684px;
  width: 28px;
  height: 28px;
}
.icon-login_pwd {
  background-image: url(./sprite.png);
  background-position: 0px -1716px;
  width: 22px;
  height: 28px;
}
.icon-download {
  background-image: url(./sprite.png);
  background-position: 0px -1748px;
  width: 28px;
  height: 28px;
}
.icon-login_Activepwd {
  background-image: url(./sprite.png);
  background-position: 0px -1780px;
  width: 22px;
  height: 28px;
}
.icon-login_activeaccount {
  background-image: url(./sprite.png);
  background-position: 0px -1812px;
  width: 24px;
  height: 30px;
}
.icon-login_account {
  background-image: url(./sprite.png);
  background-position: 0px -1846px;
  width: 24px;
  height: 30px;
}
.icon-logo {
  background-image: url(./sprite.png);
  background-position: 0px -1880px;
  width: 32px;
  height: 32px;
}
.icon-icon3 {
  background-image: url(./sprite.png);
  background-position: 0px -1916px;
  width: 46px;
  height: 46px;
}
.icon-icon1 {
  background-image: url(./sprite.png);
  background-position: 0px -1966px;
  width: 46px;
  height: 46px;
}
.icon-icon2 {
  background-image: url(./sprite.png);
  background-position: 0px -2016px;
  width: 46px;
  height: 46px;
}
.icon-icon4 {
  background-image: url(./sprite.png);
  background-position: 0px -2066px;
  width: 46px;
  height: 46px;
}
.icon-home {
  background-image: url(./sprite.png);
  background-position: 0px -2116px;
  width: 52px;
  height: 52px;
}
