.item{
    width: 60px;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(170, 87, 56);
    text-align: center;
    cursor: pointer;
}
.item:hover{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    transform: scale(1.3);
    transition: all 0.3s ease-out;
    box-shadow: 0 0 5px rgb(121, 112, 112);
}