.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}


*{
  box-sizing: border-box;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;

}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  li{
      list-style-type: none;
  }
}


/* ================= start---- antd 样式重写==================  */




/* ================= end------ antd 样式重写 ====================  */


.page{
  padding: 14px 0;
  text-align: center;
}