@import '~antd/dist/antd.less';   // 可以在 .babelrc 里设置

@primary-color: #990d0d;




// 雪碧图 
.icon {
  display: inline-block;
  margin: 8px;
}

@import "../public/sprites/sprite.css";


// 清除浮动
.clearfix() {
  zoom: 1;

  &::before,
  &::after {
    display: table;
    content: ' ';
  }

  &::after {
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }
}


* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;

}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    list-style-type: none;
  }
}


/* ================= start---- antd 样式重写==================  */

// layout 布局
.ant-row {
  margin-bottom: 16px;
}




// ********************   antd-table css
.ant-table-thead>tr>th {
  padding: 10px 4px !important;
}

.ant-table-tbody>tr>td {
  padding: 4px !important;
}



// *********************  antd-menu css
.sider-collapsed .ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item .anticon+span,
.sider-collapsed .ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-submenu>.ant-menu-submenu-title .anticon+span,
.sider-collapsed .ant-menu-item .anticon+span,
.sider-collapsed .ant-menu-submenu>.ant-menu-submenu-title .anticon+span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}


// *********************===   antd-tree css
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: seagreen !important;
  color: #FFF !important;
}


// ***********************    modal css
.ant-modal-header {
  padding: 10px 24px !important;
  background: #000 !important;

  .ant-modal-title {
    color: #FFF !important;
  }
}

.ant-modal-close-x {
  width: 43px !important;
  height: 43px !important;
  line-height: 43px !important;
  color: aliceblue;
}




/* ================= end------ antd 样式重写 ====================  */


.page {
  padding: 14px 0;
  text-align: center;
}